@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
.x{
  background-color: #E2E2E2;
  color: #363537;
  height: 300px;
  font-size: 25px;
  
  font-family: 'Roboto';
}

body{
  margin: 0;
  padding: 0;
}

*/
/* blue-color : #1688f0 */


.testing{
  list-style: none;
}